@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");

/*colors*/
$color1: #ed6663;
$color2: #b52b65;
$color3: #3c2c3e;
$color4: #59405c;

/*mixins*/
@mixin flexCenter {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

::placeholder {
   font-size: 17px;
   color: #fff;
}

* {
   margin: 0;
   padding: 0;
   font-family: "Tajawal", sans-serif;
}

main {
   height: 200vh;
   @include flexCenter();

   .main-screen {
      @include flexCenter();
      height: 100vh;
   }

   .r-screen {
      @include flexCenter();
      height: 100vh;

      .result-text {
         padding-top: 10px;
         font-size: 30px;

         span {
            font-size: 40px;
         }
      }

      .button {
         margin-top: 50px;
      }

      ul {
         margin-top: 70px;
         text-align: left;
         align-self: flex-end;
      }
   }

   /*title*/
   h1 {
      font-size: 40px;
      color: $color3;
   }

   /*title span*/
   span {
      color: $color1;
   }

   /*input div*/
   .inputs {
      @include flexCenter();
      height: 300px;

      input {
         height: 50px;
         width: 210px;
         padding: 3px 10px;
         font-size: 25px;
         background-color: $color3;
         color: #fff;
         border: 3px solid $color1;
         border-radius: 5px;
         margin: 10px 10px;
         outline: none;
         text-align: center;
      }

      label {
         margin-top: 10px;
         color: $color4;
         font-size: 18px;
         span {
            color: $color2;
            font-weight: bold;
         }
      }
   }

   .button {
      height: 50px;
      width: 120px;
      background-color: $color1;
      border-radius: 2px;
      button {
         height: 100%;
         width: 100%;
         margin: 5px 5px;
         background-color: $color2;
         color: #fff;
         font-size: 19px;
         border: none;
         border-radius: 2px;
         transition: all 0.2s ease-in;
         cursor: pointer;

         &:hover {
            margin: 0;
         }
      }
   }
}
