@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");
/*colors*/
/*mixins*/
::-webkit-input-placeholder {
  font-size: 17px;
  color: #fff;
}
:-ms-input-placeholder {
  font-size: 17px;
  color: #fff;
}
::-ms-input-placeholder {
  font-size: 17px;
  color: #fff;
}
::placeholder {
  font-size: 17px;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif;
}

main {
  height: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  /*title*/
  /*title span*/
  /*input div*/
}

main .main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
}

main .r-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
}

main .r-screen .result-text {
  padding-top: 10px;
  font-size: 30px;
}

main .r-screen .result-text span {
  font-size: 40px;
}

main .r-screen .button {
  margin-top: 50px;
}

main .r-screen ul {
  margin-top: 70px;
  text-align: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main h1 {
  font-size: 40px;
  color: #3c2c3e;
}

main span {
  color: #ed6663;
}

main .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 300px;
}

main .inputs input {
  height: 50px;
  width: 210px;
  padding: 3px 10px;
  font-size: 25px;
  background-color: #3c2c3e;
  color: #fff;
  border: 3px solid #ed6663;
  border-radius: 5px;
  margin: 10px 10px;
  outline: none;
  text-align: center;
}

main .inputs label {
  margin-top: 10px;
  color: #59405c;
  font-size: 18px;
}

main .inputs label span {
  color: #b52b65;
  font-weight: bold;
}

main .button {
  height: 50px;
  width: 120px;
  background-color: #ed6663;
  border-radius: 2px;
}

main .button button {
  height: 100%;
  width: 100%;
  margin: 5px 5px;
  background-color: #b52b65;
  color: #fff;
  font-size: 19px;
  border: none;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

main .button button:hover {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */